/*
 *
 *  OFFERS.CSS
 *
 */

/* --------------- DEBUG --------------- */
  body {
    padding: 100px;
  }

  [dp-dn] {
    display: none;
  }



@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

/* --------------- RESET --------------- */
  * {
    margin:     0;
    padding:    0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
  }


/* --------------- OFFER MODULE --------------- */
  .offers {
    position:    absolute;
    width:       635px;
    height:      247px;
    font-family: 'Ubuntu Condensed', sans-serif;
    border:      10px solid silver;
  }

  .borderimage .offers {
    border: none;
    border-image: url('../img/module-bg.png') 10 10 10 10 repeat;
    border-width: 10px;
  }

  .offers__window {
    display:  block;
    float:    right;
    width:    481px;
    overflow: auto;
  }



/* --------------- IMAGES --------------- */
  .offers__logo {
    position: absolute;
    top:      -12px;
  }

  .offers__arrow {
    position: absolute;
    bottom:   0;
  }

  .offers__arrow--left {
    left: 134px;
  }

  .offers__arrow--right {
    right: 0;
  }

  .offers__panel-img {
    /*margin: 0 auto;*/
    width:  214px;
  }



/* --------------- CATEGORY LIST --------------- */
  .offers__cat-list {
    position:         absolute;
    bottom:           0;
    width:            134px;
    height:           227px;
    padding-top:      60px;
    text-align:       right;
    background-color: #161616;
    color:            white;
    border-right:     1px solid #666;
  }

  .offers__cat-list-item {
    list-style-type: none;
    padding-top:     10px;
    padding-bottom:  10px;
    padding-right:   13px;
    font-size:       14px;
    border-top:      1px solid #666;
  }

  .offers__cat-list-item:first-child {
    border-top: none;
  }

  .cssgradients.backgroundsize .offers__cat-list-item {
    border-top: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(to left, #666, rgba(0,0,0,0) 70%);
    background-position: top right;
    background-size: 100% 1px;
  }

  .cssgradients.backgroundsize .offers__cat-list-item:first-child {
    background: none;
  }

  .offers__cat-list-item--active {
    color: magenta;
  }









/* --------------- PANEL ITEMS --------------- */
  .offers__panel {
    width: 10000px;
  }

  .offers__panel-item {
    position:         relative;
    float:            left;
    padding-left:     17px;
    width:            247px;
    height:           227px;
    color:            white;
    background-color: #2b2a2a;
  }

  .offers__panel-item:hover {
    background-color: #373636;
  }


