/*
 *
 *  OFFERS.CSS
 *
 */

/* --------------- DEBUG --------------- */
  body {
    padding: 100px;
  }

  [dp-dn] {
    display: none;
  }



/* --------------- RESET --------------- */
  * {
    margin:     0;
    padding:    0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
  }


/* --------------- OFFER MODULE --------------- */
  .offers {
    position: absolute;
    width:    635px;
    height:   247px;
    border:   10px solid silver;
  }

  .offers__window {
    display:  block;
    float:    right;
    width:    494px;
    overflow: auto;
  }



/* --------------- IMAGES --------------- */
  .offers__logo {
    position: absolute;
    top: -12px;
  }

  .offers__arrow {
    position: absolute;
  }

  .offers__arrow--left {
    left: 123px;
    top:  -3px;
  }

  .offers__arrow--right {
    right:    0;
    top:      -2px;
  }

  .offers__panel-img {
    margin: 0 auto;
    width: 214px;
  }



/* --------------- CATEGORY LIST --------------- */
  .offers__cat-list {
    position: absolute;
    bottom: 0;
    text-align: right;
  }

  .offers__cat-list-item {
    list-style-type: none;
  }

  .offers__cat-list-item--active {
    color: magenta;
  }









/* --------------- PANEL ITEMS --------------- */
  .offers__panel {
    width: 10000px;
  }

  .offers__panel-item {
    float:            left;
    width:            247px;
    height:           227px;
    color:            white;
    background-color: #2b2a2a;
  }

  .offers__panel-item:hover {
    background-color: #373636;
  }







/* --------------- GLOBAL UTILS --------------- */
  .hidden {
    display: none;
  }
